<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674362680723-i8hbjem5antkqp90khjun67v3mo0tab2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674362680723-i8hbjem5antkqp90khjun67v3mo0tab2</string>
	<key>API_KEY</key>
	<string>AIzaSyD8uG-YHY9r4ET01a5rvZOb9m6ZH6v-M4w</string>
	<key>GCM_SENDER_ID</key>
	<string>674362680723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YJ.HealthData-DEV</string>
	<key>PROJECT_ID</key>
	<string>healthmonitor-test</string>
	<key>STORAGE_BUCKET</key>
	<string>healthmonitor-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674362680723:ios:dfe1cd583d551566397466</string>
</dict>
</plist>